.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
  position: fixed;

}

.edit-form {
  max-width: 300px;
  margin: auto;
}

body, html {
  margin: 0;
  padding: 0;
}

.app-container {
  background: var(--gradient-3rd-test, linear-gradient(120deg, #274C60 0%, #162C37 100%));
  height: 100vh;
  position: fixed;
}

.iphone {
  height: inherit;
}

.form-group {
  /* margin-top: 10px; */
  padding: 0.4rem;
}

.cardFonts {
  font-size: 14px;
  font-weight: bold;
}

.btn {
  margin-top: 20px;
  left: 38.5%;
  /* transform: translateX(-50%); */
}

.transparent-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.transparent-button:hover {
  background-color: lightgray; /* The hover background color you want */
}